@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    background-color: hsl(0, 0%, 100%);
    width: 270px;
    padding: 15px;
    border-radius: 20px;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card-content h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
.card-content p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
.attribution {
    margin-top: 15px;
}